In [1]:
import urllib
import json

In [2]:
my_id = 'tj6rb1sKG1TUjozQJVzx'
my_key = 'Dwfa1MYdLL'

In [3]:
s = 'ko'
t = 'en'
txt = '만나서 반갑습니다'
txt = urllib.parse.quote(txt)
txt

'%EB%A7%8C%EB%82%98%EC%84%9C%20%EB%B0%98%EA%B0%91%EC%8A%B5%EB%8B%88%EB%8B%A4'

In [4]:
data = 'source='+s+'&target='+t+'&text='+txt
data

'source=ko&target=en&text=%EB%A7%8C%EB%82%98%EC%84%9C%20%EB%B0%98%EA%B0%91%EC%8A%B5%EB%8B%88%EB%8B%A4'

In [5]:
url = 'https://openapi.naver.com/v1/papago/n2mt'
res = urllib.request.Request(url)
res.add_header('X-Naver-Client-Id', my_id)
res.add_header('X-Naver-Client-Secret', my_key)
response = urllib.request.urlopen(res, data=data.encode('utf-8'))
rescode = response.getcode()
print(rescode)

200

In [6]:
results = json.load(response)
results

{'message': {'@type': 'response',
  '@service': 'naverservice.nmt.proxy',
  '@version': '1.0.0',
  'result': {'srcLangType': 'ko',
   'tarLangType': 'en',
   'translatedText': 'Nice to meet you.',
   'engineType': 'N2MT',
   'pivot': None}}}

In [7]:
results['message']['result']['translatedText']

'Nice to meet you.'

In [8]:
import pandas as pd

In [9]:
trans = pd.read_pickle('data/trans.pkl')
trans

일자
2009-11-16    Samsung Life Insurance Listed next year Samsun...
2009-11-17    Econo briefing/ FKI holds launching ceremony f...
2009-11-18    [KOSDAQ company announcement] (18th) T-Flacks,...
2009-11-19    &quot;Overseas Long Term Fund is moving from J...
2009-11-20    Samsung Electronics PR Hall surpassed 400,000 ...
                                    ...
2020-11-11    The business world, even though the 3% rule ea...
2020-11-12    Today&#39;s Obituary-November 13, 2020.&#39;Fi...
2020-11-13    Nepes Arc next week&#39;s public offering to e...
2020-11-14    [Weekly Stock Market Outlook] &quot;Intersecti...
2020-11-15    Chairman Lee Kun-hee, &#39;49 Jae&#39;, quietl...
Length: 3732, dtype: object

In [10]:
sent = pd.read_pickle('data/sent.pkl')
sent

            neg    neu    pos  compound
일자
20091116  0.051  0.824  0.126    0.9972
20091117  0.041  0.830  0.129    0.9983
20091118  0.038  0.841  0.120    0.9977
20091119  0.034  0.861  0.105    0.9960
20091120  0.040  0.854  0.106    0.9923
...         ...    ...    ...       ...
20201111  0.035  0.837  0.128    0.9985
20201112  0.042  0.890  0.068    0.9893
20201113  0.040  0.860  0.099    0.9958
20201114  0.011  0.889  0.099    0.9541
20201115  0.018  0.861  0.121    0.9951

[3732 rows x 4 columns]