In [1]:
import pandas as pd
import numpy as np

In [5]:
df = pd.read_csv('data/cs-training_ver02.csv')
df.head()
x = df.drop(columns='seriousdlqin2yrs')

In [7]:
from sklearn.preprocessing import MinMaxScaler
minmax = MinMaxScaler()
x = minmax.fit_transform(x)

In [16]:
from sklearn.metrics import v_measure_score
from sklearn.cluster import MiniBatchKMeans
results = []

for k in range(2,11):
    kmeans = MiniBatchKMeans(n_clusters=k)
    pred = kmeans.fit_predict(x)
    results.append(v_measure_score(df.seriousdlqin2yrs, pred))

results

[0.06703493610225046,
 0.05042981473288443,
 0.03858399924912048,
 0.03611845681031568,
 0.03530736603580538,
 0.0329425562347643,
 0.029721044525680477,
 0.02780130195708903,
 0.028176996021215327]

In [20]:
kmeans = MiniBatchKMeans(n_clusters=3)
df['group'] = kmeans.fit_predict(x)
df_sum = pd.DataFrame(df.mean(), columns=['overall'])
df_sum = df_sum.join(df.groupby('group').mean().T)
df_sum

,overall,0,1,2
seriousdlqin2yrs,0.066840,0.038349,0.026837,0.168127
revolvingutilizationofunsecuredlines,0.319196,0.234756,0.114359,0.816978
age,52.295347,54.512652,54.670833,46.102284
numberoftime30-59dayspastduenotworse,0.245353,0.211490,0.145829,0.484780
debtratio,292.292876,2553.856048,47.973181,84.098707
monthlyincome,6418.454920,5100.930216,6840.147573,5899.954532
numberofopencreditlinesandloans,8.452760,9.710172,8.874542,7.059938
numberoftimes90dayslate,0.090180,0.042056,0.025474,0.254706
numberrealestateloansorlines,1.017407,1.602252,1.006646,0.843513
numberoftime60-89dayspastduenotworse,0.064707,0.043339,0.027122,0.158036
numberofdependents,0.737327,0.436952,0.713033,0.894933
group,1.181980,NaN,NaN,NaN