In [1]:
import pandas as pd
import numpy as np

import matplotlib.pyplot as plt
plt.rc('axes', unicode_minus=False)
%matplotlib inline

np.random.seed(123)

In [2]:
train = pd.read_csv('data/job_train.csv')
test = pd.read_csv('data/job_test.csv')
df = pd.concat([train,test])
df = df.reset_index(drop=True)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12434 entries, 0 to 12433
Columns: 153 entries, STU_ID to F3ONET2CURR
dtypes: float64(144), int64(9)
memory usage: 14.5 MB

In [3]:
df.F3ONET2CURR.nunique()

21

In [4]:
df.F3ONET2CURR.value_counts()

99    2479
43    1444
41     883
11     862
29     731
25     709
35     682
13     582
51     480
39     460
31     416
53     358
27     344
47     328
49     320
15     293
33     256
21     230
17     204
19     188
37     185
Name: F3ONET2CURR, dtype: int64

In [5]:
null_check = df.isnull().sum()
null_check

STU_ID            0
BYSTUWT           0
BYSEX           585
BYRACE          651
BYSTLANG        651
               ...
BYS71C         2219
BYS71D         2219
BYS71E         2219
BYS71F         2219
F3ONET2CURR       0
Length: 153, dtype: int64

In [6]:
sum_df = df.describe().T.iloc[:,3:]
sum_df['null_check'] = null_check
sum_df.to_csv('data/sum_df.csv')

In [7]:
nullp = pd.read_csv('data/null_processing.csv')
nullp = nullp.dropna().reset_index(drop=True)
nullp

    variables  null_pre
0       BYSEX       2.0
1      BYRACE       7.0
2    BYSTLANG       1.0
3    BYHOMLNG       1.0
4    BYSTLNG2       4.0
..        ...       ...
141    BYS71B       0.0
142    BYS71C       0.0
143    BYS71D       0.0
144    BYS71E       0.0
145    BYS71F       0.0

[146 rows x 2 columns]

In [9]:
# median_col = nullp.variables[nullp.null_pre==-99].values
mean_col = nullp.variables[nullp.null_pre==-99].values
df[mean_col] = df[mean_col].fillna(df[mean_col].mean())

In [10]:
null_col = nullp[nullp.null_pre!=-99].set_index('variables')['null_pre']
df = df.fillna(null_col)

In [11]:
df.isnull().sum().sum()

0

In [12]:
df.BYDOB_P.describe()

count     12434.000000
mean     198564.149590
std          58.323416
min      198300.000000
25%      198510.000000
50%      198602.000000
75%      198606.000000
max      198712.000000
Name: BYDOB_P, dtype: float64

In [13]:
test = df[df.F3ONET2CURR==99].reset_index(drop=True)
train = df[df.F3ONET2CURR!=99].reset_index(drop=True)

In [14]:
train.to_csv('data/train_ver04.csv', index=False)
test.to_csv('data/test_ver04.csv', index=False)

In [15]:
train.shape

(9955, 153)

In [16]:
test.shape

(2479, 153)