In [1]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
np.random.seed(123)

In [2]:
df = pd.read_csv('data/train_ver02.csv', index_col='STU_ID')
df.head()

,BYSTUWT,BYSEX,BYRACE,BYSTLANG,BYHOMLNG,BYSTLNG2,BYDOB_P,BYFCOMP,BYPARED,BYMOTHED,...,BYS24D,BYS24E,BYS28,BYS71A,BYS71B,BYS71C,BYS71D,BYS71E,BYS71F,F3ONET2CURR
STU_ID,,,,,,,,,,,,,,,,,,,,,
101102,28.2951,2.0,2.0,0.0,4.0,2,198605.0,1.0,5.0,5.0,...,1.0,1.0,2.0,0.0,0.0,0.0,0.0,1.0,0.0,29
101104,589.7248,2.0,7.0,1.0,1.0,4,198601.0,1.0,2.0,2.0,...,1.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,27
101105,235.7822,2.0,3.0,1.0,1.0,4,198607.0,5.0,2.0,2.0,...,1.0,1.0,3.0,0.0,0.0,0.0,0.0,0.0,0.0,39
101106,178.9513,2.0,4.0,0.0,2.0,2,198511.0,1.0,1.0,1.0,...,1.0,1.0,3.0,1.0,0.0,0.0,0.0,0.0,0.0,29
101108,192.4304,1.0,4.0,1.0,1.0,4,198607.0,1.0,6.0,6.0,...,2.0,1.0,2.0,0.0,1.0,0.0,1.0,0.0,1.0,53

In [3]:
y = df.F3ONET2CURR
x = df.drop(columns='F3ONET2CURR')
x_train, x_test, y_train, y_test = train_test_split(x, y, stratify=y)

In [4]:
y_train.value_counts(normalize=True)

43    0.145058
41    0.088669
11    0.086526
29    0.073399
25    0.071256
35    0.068444
13    0.058398
51    0.048219
39    0.046209
31    0.041789
53    0.036030
27    0.034557
47    0.032949
49    0.032146
15    0.029467
33    0.025717
21    0.023172
17    0.020493
19    0.018886
37    0.018618
Name: F3ONET2CURR, dtype: float64

In [5]:
y_test.value_counts(normalize=True)

43    0.145038
41    0.088791
11    0.086782
29    0.073524
25    0.071113
35    0.068702
13    0.058658
51    0.048212
39    0.046203
31    0.041784
53    0.035757
27    0.034552
47    0.032945
49    0.032141
15    0.029329
33    0.025713
21    0.022901
17    0.020490
19    0.018883
37    0.018481
Name: F3ONET2CURR, dtype: float64

In [6]:
import joblib
with open('data/my_val.pkl', 'wb') as f:
    joblib.dump({'x':x_train,
                 'y':y_train,
                 'val_x':x_test,
                 'val_y':y_test},f)